version: '3.8'

services:
  pgsql:
    image: postgres:16
    container_name: pgsql
    restart: unless-stopped
    environment:
      POSTGRES_DB: university       # nama database
      POSTGRES_USER: postgres       # username
      POSTGRES_PASSWORD: secret     # password
    ports:
      - "5432:5432"                 # forward port ke host
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: secret
    ports:
      - "8080:80"
    depends_on:
      - pgsql

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node          # untuk mode single node (dev)
      - xpack.security.enabled=false        # disable security untuk dev
      - ES_JAVA_OPTS=-Xms512m -Xmx512m      # batasi memory usage
    ports:
      - "9200:9200"                         # port utama Elasticsearch
    volumes:
      - es_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  pg_data:
  es_data:
